# 5A

In [2]:
char_list = list(input("Enter a string: "))
del char_list[0]
del char_list[-1]
char_list.reverse()
result = ''.join(char_list)
print(result)

Enter a string: Python
ohty

# 5B

In [3]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
add = num1 + num2
sub = num1 - num2
mul = num1 * num2
if num2 != 0:
    div = num1 / num2
else:
    div = "Undefined (division by zero)"
print("Addition:", add)
print("Subtraction:", sub)
print("Multiplication:", mul)
print("Division:", div)

Enter first number: 4
Enter second number: 2
Addition: 6.0
Subtraction: 2.0
Multiplication: 8.0
Division: 2.0

# 6

In [6]:
sentence = input("Enter a sentence: ")
updated_sentence = sentence.replace("python", "pythons")
print("Updated sentence:", updated_sentence)

Enter a sentence: python is a programming language
Updated sentence: pythons is a programming language

# 7

In [7]:
score = float(input("Enter class score (0–100): "))

if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
elif score >= 60:
    print("Grade: D")
else:
    print("Grade: F")

Enter class score (0–100): 95
Grade: A

# 8

In [10]:
x = [23, 'Python', 23.98]
#input_str = input("Enter values separated by commas (e.g. 23,'Python',23.98): ")
types = []
for item in x:
    types.append(type(item))
print(x)
print(types)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

# 9

In [11]:
IT_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

print("Length of IT_companies:", len(IT_companies))

IT_companies.add('Twitter')
print("After adding Twitter:", IT_companies)

IT_companies.update(['Tesla', 'Samsung', 'Intel'])
print("After adding multiple companies:", IT_companies)

IT_companies.remove('IBM')
print("After removing IBM:", IT_companies)

IT_companies.discard('Netflix')
print("Remove vs Discard explained in code comments.")

print("Union of A and B:", A.union(B))
print("Intersection of A and B:", A.intersection(B))
print("Is A subset of B?", A.issubset(B))
print("Are A and B disjoint?", A.isdisjoint(B))
print("A union B:", A.union(B))
print("B union A:", B.union(A))
print("Symmetric difference between A and B:", A.symmetric_difference(B))

del A
del B

age_set = set(age)
print("Original age list:", age)
print("Unique ages (as set):", age_set)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of IT_companies: 7
After adding Twitter: {'Microsoft', 'Oracle', 'Facebook', 'Google', 'Twitter', 'Amazon', 'Apple', 'IBM'}
After adding multiple companies: {'Tesla', 'Microsoft', 'Oracle', 'Samsung', 'Amazon', 'Twitter', 'Intel', 'Apple', 'IBM', 'Facebook', 'Google'}
After removing IBM: {'Tesla', 'Microsoft', 'Oracle', 'Samsung', 'Amazon', 'Twitter', 'Intel', 'Apple', 'Facebook', 'Google'}
Remove vs Discard explained in code comments.
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A subset of B? True
Are A and B disjoint? False
A union B: {19, 20, 22, 24, 25, 26, 27, 28}
B union A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Original age list: [22, 19, 24, 25, 26, 24, 25, 24]
Unique ages (as set): {19, 22, 24, 25, 26}
Length of age list: 8
Length of age set: 5